<!-- frontend/views/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC Builder</title>
  <link href="../../css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-center p-6">
  <h1 class="text-4xl font-bold">Welcome to the PC Builder</h1>
  <a href="/assemble" class="text-blue-500">Start building your PC</a>
  <a href="/login" class="text-blue-500">Login </a>
  <a href="/signup" class="text-blue-500">Sign Up</a>
  <a href="/checkout" class="text-blue-500">checkout</a>

</body>

</html>